body {
    margin: 0 auto;
    background-color:gray;

}

a:active,a:hover {
    outline: 0
}

 .copy-intro-01,.copy-intro-02,.privacy-policy-content h5,p {
    font: normal 24px/1.5 FFDINWeb,Arial,sans-serif;
    font-size: 1.2rem;
    margin-top: -.3em;
    margin-bottom: 1.5em;
    line-height: 1.14286;
    letter-spacing: .01em;
}


h1 {
    font-size: 8.5rem;
    line-height: .882353;
    margin-top: -.078em;
font-family: StratumBold,Arial,sans-serif;
    text-transform: uppercase;
}
h2 {
    font-size: 3.75rem;
    line-height: .88;
    letter-spacing: .01em;
    margin-top: -.07em;
font-family: StratumBold,Arial,sans-serif;
    text-transform: uppercase;
}
h3 {
    font-size: 2rem;
    line-height: .9;
    letter-spacing: .01em;
    margin-top: -.09em;
    margin-bottom: 2.05em;
font-family: StratumBold,Arial,sans-serif;
    text-transform: uppercase;
}
h4 {
    font-size: 1.4rem;
    line-height: .92857;
    letter-spacing: .01em;
    margin-top: -.075em;
font-family: StratumBold,Arial,sans-serif;
    text-transform: uppercase;
}
h5 {
    font-size: .7rem;
    line-height: 1.14286;
    letter-spacing: .01em;
    margin-top: -.09em;
font-family: StratumBold,Arial,sans-serif;
    text-transform: uppercase;
}

h6 {
    font-family: FFDINWebProCondBold,Arial,sans-serif;
    font-size: .85rem;
    line-height: 1.52941;
    text-transform: uppercase;
    letter-spacing: .35em;
    margin-top: -.3em;
    margin-bottom: 3.8235em;
}
.h7 {
    font: normal 15px/1.2 StratumBlack,Arial,sans-serif;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: .08em;
    margin-top: -.2em
}
.h8 {
    font: normal 14px/.9 StratumBold,Arial,sans-serif;
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: .01em;
    margin-bottom: 1.2857em
}
.h9 {
    font: normal 17px/.9 FFDINWebProCondBold,Arial,sans-serif;
    font-size: .85rem;
    text-transform: uppercase;
    letter-spacing: .3em;
    margin-bottom: 1.4em;
    color: #353B44
}

b,strong {
    font-weight: 700
}


.container {
    position: relative;
    display: block;
    width:100%;
    height:100vh;
}


.container {
    position: relative;
    display: block;
    width:100%;
    height:100vh;
    overflow: hidden;
}

nav {
    position: absolute;
    display:flex;
    z-index: 900;
    top:0;
    width:100%;
    }
    
.homeheader {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100vh;
}

.videoWrap{
    position: relative;
}

.headervideo {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100vh;
    z-index: -100;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-0%);
    background: url(placeholder.jpg) no-repeat;
    background-size: cover;
    object-fit: fill;
}

.headercontent {
    top:0;
    bottom:0;
    right:0;
    left:0;
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color:white;
    z-index:300;
}



.headercontent h1{
max-width:60%;
text-align:center;
}




.homeheader img{
    padding-bottom:80px;
}









.Mission {
    display:flex;
    position: relative;
    background-color:white;
    padding: 10rem 10% 10rem 10%;
    text-align:center;
    justify-content: center;
}

.Mission p {
    font-size: 1.2rem;
    line-height: 1.5;
    color:black;
}
.mission-copy {
    width: 44.5rem;
}




.Branches {
    position: relative;
    padding: 10rem 10% 10rem 10%;
    background-color:black;
    height: 100vh;

}

.Branches-content h2 {
    width: 38.5rem;

}



.stars-container {
    position:absolute;
}

@import "susy";
@import "compass/reset";

.stars, .twinkling, {
	position:absolute;
	display:block;
	top:0; bottom:0;
	left:0; right:0;
	width:100%; height:100%;
}

.stars {
	z-index: 0;
	background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}

.twinkling{
	z-index: 1;
	background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
	animation: move-twink-back 800s linear infinite;
}


@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}

.Branches-content {
    Position:absolute;
    z-index:500;
    top:0;
    bottom:0;
    right:0;
    left:0;
    display:flex;
    color:white;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}









.careers {
    display:block;
    position: relative;
    padding:160px;
    background-color:white;
    color:black;
    text-align: center;
}

.marketingvideo {
display:block;
position: relative;
}

.footer {
    display:block;
    position: relative;
}





















@keyframes simple-fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes discover-yours-arrow {
    0%,100%,50% {
        opacity: .2
    }

    10% {
        opacity: 1
    }
}

@font-face {
    font-family: StratumLight;
    src: url(../font/stratum/Stratum1WebLight.eot);
    src: url(../font/stratum/Stratum1WebLight.eot?#iefix) format("embedded-opentype"),url(../font/stratum/Stratum1WebLight.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: StratumBold;
    src: url(../font/stratum/Stratum2WebBold.eot);
    src: url(../font/stratum/Stratum2WebBold.eot?#iefix) format("embedded-opentype"),url(../font/stratum/Stratum2WebBold.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: StratumBlack;
    src: url(../font/stratum/Stratum2WebBlack.eot);
    src: url(../font/stratum/Stratum2WebBlack.eot?#iefix) format("embedded-opentype"),url(../font/stratum/Stratum2WebBlack.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: FFDINWebLight;
    src: url(../font/din/2F8321_0_0.eot);
    src: url(../font/din/2F8321_0_0.eot?#iefix) format("embedded-opentype"),url(../font/din/2F8321_0_0.woff2) format("woff2"),url(../font/din/2F8321_0_0.woff) format("woff"),url(../font/din/2F8321_0_0.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: FFDINWebMedium;
    src: url(../font/din/2F8321_1_0.eot);
    src: url(../font/din/2F8321_1_0.eot?#iefix) format("embedded-opentype"),url(../font/din/2F8321_1_0.woff2) format("woff2"),url(../font/din/2F8321_1_0.woff) format("woff"),url(../font/din/2F8321_1_0.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: FFDINWeb;
    src: url(../font/din/2F8321_2_0.eot);
    src: url(../font/din/2F8321_2_0.eot?#iefix) format("embedded-opentype"),url(../font/din/2F8321_2_0.woff2) format("woff2"),url(../font/din/2F8321_2_0.woff) format("woff"),url(../font/din/2F8321_2_0.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: FFDINWebProCondBold;
    src: url(../font/din/2F8321_3_0.eot);
    src: url(../font/din/2F8321_3_0.eot?#iefix) format("embedded-opentype"),url(../font/din/2F8321_3_0.woff2) format("woff2"),url(../font/din/2F8321_3_0.woff) format("woff"),url(../font/din/2F8321_3_0.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}




























































.button-outline {
    position: relative;
    display: inline-block;
    height: 2rem;
    background: 0 0;
    border: 0;
    padding: 0;
    z-index: 0
}

.button-outline:hover .button-outline-copy:before {
    right: calc(62% + 5px)
}

.button-outline.active .button-outline-copy:after,.button-outline:hover .button-outline-copy:after {
    left: calc(38% + 5px)
}

.button-outline.active .button-outline-bottom:before,.button-outline:hover .button-outline-bottom:before {
    right: calc(38% + 5px)
}

.button-outline.active .button-outline-bottom:after,.button-outline:hover .button-outline-bottom:after {
    left: calc(62% + 5px)
}

.button-outline.is-mouse-down .button-outline-copy {
    color: #fff
}

.button-outline.is-mouse-down:after {
    right: 0;
    opacity: 1;
    transition-duration: .2s,25ms;
    transition-delay: 0s,0s
}

.button-outline.is-mouse-down.inverted .button-outline-copy {
    color: #0e182d
}

.button-outline:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 100%;
    border-left: 1px solid currentColor;
    border-right: 1px solid currentColor;
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%)
}

.button-outline:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 60%;
    background: currentColor;
    transition: right 0s cubic-bezier(.19,1,.22,1) 110ms,opacity .1s cubic-bezier(.25,.25,.75,.75) 0s;
    opacity: 0
}

.button-outline.inverted {
    color: #fff
}

.button-outline.inverted .button-outline-copy:after,.button-outline.inverted .button-outline-copy:before {
    background: #fff
}

.button-outline.full-width {
    display: block;
    text-align: center
}

.button-outline.full-width .button-outline-copy {
    padding: 0
}

.button-outline .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

.button-outline .not-visible {
    visibility: hidden
}

.button-outline-copy {
    position: relative;
    display: block;
    padding: 0 2.6rem;
    font: normal 18px/2.2rem StratumBlack,Arial,sans-serif;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: .08em;
    transition: color .4s cubic-bezier(.19,1,.22,1)
}

.button-outline-copy:after,.button-outline-copy:before {
    content: '';
    position: absolute;
    top: 0;
    height: 1px;
    background: currentColor;
    left: 0;
    right: 0;
    transition: all .6s cubic-bezier(.19,1,.22,1) 50ms
}

.button-outline-copy:before {
    right: calc(38% + 5px)
}

.button-outline-copy:after {
    left: calc(62% + 5px)
}

.button-outline-copy.small-padding {
    padding: 0 1.9rem
}

.button-outline-copy.small-copy {
    font-size: .75rem
}

.button-outline-icon {
    height: .95rem;
    width: .95rem;
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    margin-right: .25em;
    position: relative;
    top: -.0625em
}

.button-outline-icon path {
    fill: currentColor
}

.button-outline-bottom:after,.button-outline-bottom:before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    background: currentColor;
    left: 0;
    right: 0;
    transition: all .8s cubic-bezier(.19,1,.22,1) 50ms
}

.button-outline-bottom:before {
    right: calc(62% + 5px)
}

.button-outline-bottom:after {
    left: calc(38% + 5px)
}

.button-alignment {
    display: inline
}

.button-alignment.center,.button-alignment.left,.button-alignment.right {
    display: block;
    width: 100%
}

.button-alignment.center {
    text-align: center
}

.button-alignment.left {
    text-align: left
}

.button-alignment.right {
    text-align: right
}




/*boxes*/

.reset-list {
    list-style: none
}


.boxed-option-list {
    -ms-flex-pack: start;
    justify-content: flex-start;
}




.boxed-option-list {
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.boxed-option-item {
    position: relative;
    max-width: 50rem;
    box-sizing: border-box;
      justify-content: center;
  padding:50px;

}

.boxed-option-items {
    position: relative;
}




/*animation*/
html.is-mobile .boxed-option-item.active .hover-lines,html:not(.is-mobile) .boxed-option-item:hover .hover-lines {
    height: 100%;
    width: 100%;
    border-left-width: 2px;
    border-right-width: 2px;
    transition: width 150ms cubic-bezier(.25,.25,.75,.75),height .2s cubic-bezier(.25,.25,.75,.75) 145ms,border-left-width 0s cubic-bezier(.25,.25,.75,.75) 145ms,border-right-width 0s cubic-bezier(.25,.25,.75,.75) 145ms
}

html.is-mobile .boxed-option-item.active .hover-lines:after,html.is-mobile .boxed-option-item.active .hover-lines:before,html:not(.is-mobile) .boxed-option-item:hover .hover-lines:after,html:not(.is-mobile) .boxed-option-item:hover .hover-lines:before {
    width: 50%;
    transition: width .5s cubic-bezier(.19,1,.22,1) 340ms
}
html.is-mobile .boxed-option-item.active .button-content,html:not(.is-mobile) .boxed-option-item:hover .button-content {
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    transition-delay: .2s
}

html.is-mobile .boxed-option-item.active .button-inline-caps,html:not(.is-mobile) .boxed-option-item:hover .button-inline-caps {
    opacity: 1;
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    transition-delay: .2s
} 

html.is-mobile .boxed-option-item.active .has-play-button .play-button-wrapper,html:not(.is-mobile) .boxed-option-item:hover .has-play-button .play-button-wrapper {
    -ms-transform: translate(0,2.4rem);
    transform: translate(0,2.4rem);
    transition-delay: .2s
}

html.is-mobile .boxed-option-item.active .has-play-button .button-icon,html:not(.is-mobile) .boxed-option-item:hover .has-play-button .button-icon {
    -ms-transform: scale(2);
    transform: scale(2);
    transition-delay: .2s
}

html.is-mobile .boxed-option-item.active .icon-image,html.is-mobile .boxed-option-item.active .number,html.is-mobile .boxed-option-item.active .subtitle,html:not(.is-mobile) .boxed-option-item:hover .icon-image,html:not(.is-mobile) .boxed-option-item:hover .number,html:not(.is-mobile) .boxed-option-item:hover .subtitle {
    -ms-transform: translate(0,-1.4rem);
    transform: translate(0,-1.4rem);
    transition-delay: .2s
}

html.is-mobile .boxed-option-item.active .number,html:not(.is-mobile) .boxed-option-item:hover .number {
    -ms-transform: translate(-50%,-1.4rem);
    transform: translate(-50%,-1.4rem)
}

html.is-mobile .boxed-option-item.active .number:after,html:not(.is-mobile) .boxed-option-item:hover .number:after {
    height: 6rem;
    transition-delay: .2s
}



.boxed-option-item:before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    position: absolute;
    border: 1px solid white;
    transition: all 150ms cubic-bezier(.19,1,.22,1)
}

.boxed-option-item:not(:first-child):before {
    left: -1px;
    border-left-width: 0
}

.boxed-option-item .hover-lines {
    height: 0;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
    box-sizing: border-box;
    border-bottom: 2px solid white;
    border-left: 0 solid white;
    border-right: 0 solid white;
    transition: width .4s cubic-bezier(.19,1,.22,1) 340ms,height .2s cubic-bezier(.25,.25,.75,.75) 145ms,border-left-width 0s cubic-bezier(.25,.25,.75,.75) 340ms,border-right-width 0s cubic-bezier(.25,.25,.75,.75) 340ms
}



.boxed-option-item .button-content {
    max-width: 16rem;
    -ms-transform: translate(0,1.4rem);
    transform: translate(0,1.4rem);
    transition: all .8s cubic-bezier(.19,1,.22,1)
}



.boxed-option-item .subtitle {
    transition: transform .8s cubic-bezier(.19,1,.22,1)
}



.boxed-option-item .heading-03 {
    line-height: 1;
    margin-top: -1em;
    margin-bottom: 0
}

.boxed-option-item .copy-body-01 {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: .8333em
}

.boxed-option-item .copy-body-01 {
    margin-top: 2em
}









